* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: #FFFBEF;
}

.primary-color {
    background-color: #FFFBEF;
}


/* Color */

.button-black {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide-active {
    margin-top: 2%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


/* .swiper-button-next, .swiper-button-prev{
    
} */

.swiper-button-next::after,
.swiper-button-prev::after {
    background-color: rgba(0, 0, 0, .4);
    padding: 1rem;
    color: #fff !important;
    border-radius: 0.5rem;
    font-size: 12px !important;
}

.text-title {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
}

.menu li,
li {
    color: #6C6C6C;
}

.active {
    color: #000;
}

.swiper-section {
    width: 100vh;
}

.text-description::after {
    content: '';
    position: absolute;
    width: 25%;
    display: block;
    height: 1px;
    background-color: black;
    bottom: -5px;
}

.hageng {
    border: 5px solid #86BA0D;
}

.pakurmatan {
    border: 5px solid #391B8C;
}

.detail-item {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
}

.gambar-lh {
    line-height: 12rem;
}


/* Colcade */